body {
  font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  background-color: #fffec2;
  padding-left: 15px;
  padding-right: 15px;
}

div#head_background {
  background-image: url(images/arbor.png);
  background-repeat: repeat-x;
  height: 50px;
  font-weight: bold;
  font-size: 3.0em;
}

div#wrapper {
  padding-top: 25px;
}

div#navi {
  width: 200px;
  float: left;
  font-size: 1em;
  font-weight: bold;
}

a:hover {
  color: #cc0000;
  text-decoration: none;
}

a {
  color: #000066;
  text-decoration: none;
}

a#a {
  color: black;
}

div#yielded {
  margin-left: 200px;
  padding-left: 10px;
}

div#headline {
  padding-left: 10px;
  background-color: #ff9900;
  height: 20px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  color: white;
  font-weight: bold;
}

div#footer {
  clear:both;
  text-align: center;
  font-size: 0.8em;
}

p#version {
  font-size: 0.7em;
  font-family: Ubuntu, Arial;
}

th#weite {
  text-align: left;
}

font#re {
  color: #ff9900;
  font-size: 0.3em;
  font-style: italic;
}

hr#hr {
  color: #580070;
}

hr#profile {
  color: #ff9900;
}

div#login {
  text-align: right;
  border: 2px solid silver;
  border-radius: 3px;
}

input#txt {
  background-color: #fff3ac;
  border: 0px;
}

div#profile_content {
  width: 75%;
  float: left;
  font-size: 1em;
  font-weight: bold;
  padding-left: 10px;
}

div#profile_infos {
  border: 2px solid silver;
  border-radius: 3px;
  width: 20%;
  margin-left: 78%;
  padding-left: 10px;
}
